body {
  font-family: 'Open Sans', 'Segoe UI', Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  color: #333;
}

#container {
  display: flex;
  height: 100%;
}

#history-panel {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #d1d5da;
  overflow-y: auto;
  padding: 10px;
}

#request-panel {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: auto;
}

#request-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#request-controls select,
#request-controls input[type="text"],
#request-controls button {
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}


#url {
  flex: 1; /* Grow to fill available space */
  padding: 8px;
  border: 1px solid #d1d5da;
  border-radius: 4px;
}

#method {
  flex: 0 0 auto; 
}

#send {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  flex: 0 0 auto;
}

#send:hover {
  background-color: #0056b3;
}

#request-body, #response-body {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 150px;
  resize: vertical;
}

#response {
  font-family: 'Consolas', 'Monaco', monospace;
}

#request-tabs {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tablink {
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 16px;
  background-color: inherit;
}

.tablink.active, .tablink:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 10px;
  border-top: none;
  height: 300px; /* Fixed height for the tab content */
  overflow-y: auto; /* Make it scrollable if content overflows */
}

.tabcontent.active {
  display: block;
}

.header-pair {
  display: flex;
  margin-bottom: 5px;
}

.header-pair input {
  flex-grow: 1;
  margin-right: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#add-header, #clear-history {
  padding: 10px 15px;
  background-color: #007bff; /* Blue background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

#add-header:hover, #clear-history:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


#history-list li {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #e1e1e1;
  background-color: #f9f9f9;
}

#history-list li:hover {
  background-color: #e2e2e2;
}

/* Responsive Design */
@media (max-width: 768px) {
  #container {
    flex-direction: column;
  }

  #history-panel, #request-panel {
    width: 100%;
  }
}
